body {
  background-color: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 10%;
}

section {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

article {
  text-align: center;
  width: 30%;
  cursor: pointer;
}

article:hover {
  box-shadow: 5px 5px 5px black;
  transition: 0.7s;
}

.buttonTheme {
  color: black;
  border: none;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.buttonTheme:hover {
  color: #732d91;
}

article img {
  width: 80%;
  height: 70%;
}

/* QUIZ */

* {
  box-sizing: border-box;
}

p a {
  color: black;
  text-decoration: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

p a:hover {
  cursor: pointer;
}

#heart1,
#heart2,
#heart3 {
  padding-left: 10%;
}

.quiz-container {
  user-select: none;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  overflow: hidden;
  width: 600px;
  max-width: 100%;
  position: absolute;
  top: 10%;
  left: 30%;
}

.hide {
  display: none;
}

.quiz-container img {
  width: 30%;
}

.quiz-header {
  padding: 4rem;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label,
input {
  cursor: pointer;
}

.buttonQuiz {
  background-color: #8e44ad;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 1.1rem;
  width: 100%;
  padding: 1.3rem;
}

.buttonQuiz:hover {
  background-color: #732d91;
}

.buttonQuiz:focus {
  background-color: #5e3370;
  outline: none;
}

/* styles pour les téléphones en mode paysage */
@media screen and (max-width: 767px) {
  section {
    flex-wrap: wrap;
    width: 50%;
    margin-left: 30%;
    margin-top: 10%;
    text-align: center;
  }

  article {
    text-align: center;
    margin-top: 10%;
    width: 80%;
  }

  article img{
    width: 60%;
    height: 50%;
  }

  /* Quiz */
  .quiz-container {
    width: 80%;
    position: absolute;
    top: 5%;
    left: 10%;
  }

  .quiz-container img {
    width: 20%;
    margin-left: 7%;
  }

  .quiz-header {
    height: 65%;
  }

  .quiz-header h2 {
    font-size: 1rem;
  }

  ul li {
    font-size: 0.7rem;
    margin: 0.3rem 0;
  }

  .buttonQuiz {
    font-size: 0.7rem;
    width: 100%;
    padding: 0.9rem;
  }
}

/* Tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  article {
    margin-top: 20%;
  }

  article img {
    width: 75%;
  }

  /* Quiz */
  .quiz-container {
    width: 80%;
    position: absolute;
    top: 5%;
    left: 7%;
  }
}
